body{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: hidden;
}

#container{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
#left{
	height: 100vh;
	width: 25vw;
	background: linear-gradient(180deg, rgba(249,104,92,0.9) 0%, rgba(246,77,108,0.95) 100%);
}
.nav-item{
	color: white;
	border-radius: 5px;
	margin-bottom: 5%;
	width: 200px;
}



#logo{

}

a:hover{
	text-decoration: none;
}

#home{
	margin-left: 10vw;
	color: white;
	margin-top: 25vh;
	font-size: 1.5em;
}
a{
	color:white;
}
a:link{
	color: white;
}
a:visited{
	color:white;
}
a:hover{
	color:white;
}
a:active{
	color:white;
}
#middle{
	height: 80vh;
	width: 60vw;
}
#words{
	font-size: 1.5em;
	margin-left: 5vw;
}
.chart{
	height: 800px;
	margin-left: 5vw;
}
#chart1{
	width: 800px;

}
#chart2{
	width: 800px;

}
#chart3{
	width: 800px;

}
#chart4{
	height: 200px;

}

#right{
	width: 15vw;
	height: 100vh;
}
#profile-pic{
	/*position: fixed;*/
	margin-top: 4vh;
	width: 4em;
}

.nav{
	margin-top: 30vh;
	margin-left: 3vw;
	display: flex !important;
	flex-direction: column !important;
	border: none;
	text-align: left;
	cursor: pointer;
	border-radius: 3pxï¼›
	color: white;
}







